body {
    margin: auto;
    background-image: url("../images/brickwall/brickwall_@2X.png");
    background-color:lightgray;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.wrapper {
     background-color:#ffffff;
     width: 100%;
     padding-top:1em;
}

h1 {
    float: left;    
    margin-top: -15.9px;
    margin-left: 280px;
    background-color: #4aaaa5;
    color: white;
    border: 30px solid #4aaaa5;
    text-align: center;
    font-size:27px;

    }


nav {
    margin-left: 578px;
    margin-bottom: 80px;
}

header {
    background-color: #55d6aa;
    position: relative;
}

/*header::after {
    content: **;
    display: table;
    clear: both;
}*/

nav ul {
    background-color:#ffffff;
    list-style-type: none;
    
    padding-right:26px;
    padding-left:360px;
}

nav li {
    display: inline-block;
    margin: 20.0px;
    margin-left: 11px;
    position: relative;
}

nav a {
    color:gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 20px;
    float:left;
    
}

nav a:hover {
    color: #000;
}


nav a:hover::before{
    width: 100%;
}

  
img {    
    padding-top: 1.5em;
    padding-left: 5em;
    padding-right: 2em;
    padding-bottom: 1em;
    float: left;
}

hr {
    width: 795px;
}
h2 {
    color:#4aaaa5;
    padding:0.5em;
    margin-left: 70px; 
    margin-top:28px;
}

.container {
    width:  960px;
    box-sizing: border-box;
    background-color:#ffffff;
    border: solid 1px #666666;
    margin: auto;
    padding-bottom: 1.5em; 
  }
  
p {
    width:800px;
     margin: auto;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #777777;
     padding-top: 1em;
 }

textarea {
    background:#eeee;
    width: 500px;
    font-size: 20px;
    margin:auto;
    list-style-type: none;
}

  textarea ul {
    list-style-type: none;
}

footer {
    background-color:#666666;
    border-top:5px #4aaaa5 solid ;
    margin-top: 340px;
    position:inherit;
}

#contact-info li {
    list-style-type: none;
    color: #777777;
}

.footer-wrapper {
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
}
footer p{
    color: #777777;
    padding-left:45%;
    position: relative;
    }

    