

body {
    margin: auto;
    width:960px;
    background-image: url("../images/brickwall/brickwall_@2X.png")
}

header {
    background-color: #ffffff;  
    margin: auto;
    width: 1000px;
    padding-bottom: 1em;
}
   
h1 {
    float: left;
    background-color: #4aaaa5;
    color: white;
    border: 10px solid #4aaaa5;
    text-align: right;
    margin: auto;
    padding: 25px;
}
   


nav li {
    display: inline-block;
    padding: 50px;
    text-align: right;
}


  
img {    
    margin-right: 20px;
}

hr{
    color:rgb(223, 157, 16);
}
h2 {
    color:navy;
}

* {
    box-sizing: border-box;
  }

  .container {
    width:  960px;
    height: 960px;
    border: 1px solid blue;
    box-sizing: border-box;
    background-color:blue;
  }